doc2vec:
  vector_size: 128
  dm: 0
  min_count: 2
  workers: -1 #-1 ->auto(cpu count, max:10)
  epochs: 50
  negative: 10

xgboost:
  tree_method: 'hist'
  device: 'gpu' # cpu or cuda
  n_jobs: 1    # cpu:-1 cuda:1
  random_state: 42
  max_depth: 4
  eval_metric: 'logloss'
